<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="_profiler_backup_create" controller="symfony_backup.profiler_controller::create" path="/_profiler/backup/create" />
    <route id="_profiler_backup_restore" controller="symfony_backup.profiler_controller::restore" path="/_profiler/backup/restore" />
    <route id="_profiler_backup_delete" controller="symfony_backup.profiler_controller::delete" path="/_profiler/backup/delete" />
    <route id="_profiler_backup_download" controller="symfony_backup.profiler_controller::download" path="/_profiler/backup/download" />
</routes>