APP_ENV=test
APP_DEBUG=1

PGHOST=postgres
PGUSER=postgres
PGPASSWORD=root
PGDATABASE=test_db

MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=test_db
# Defaults for local Docker Compose (compose.yaml)
TESTAPP_DATABASE_URL_MYSQL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:3306/${MYSQL_DATABASE}?serverVersion=8.0.1&charset=utf8mb4"
TESTAPP_DATABASE_URL_PGSQL="postgresql://${PGUSER}:${PGPASSWORD}@${PGHOST}:5432/${PGDATABASE}?serverVersion=17"
